body{
    margin: 0;
    padding: 0;
    background: url('./pexels-francesco-ungaro-673648.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: monospace;
    font-weight: bold;
    font-size: larger;
}
.container{
    margin: 4rem;
    width: 1000px;
    height: 500px;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: #9c9b92;
    opacity: 0.9;
}
.sectionA{
    margin-top: 40px;
}
.inner{
    margin: 1rem;
}
.innerB{
    display: block;
    justify-content: center;
    text-align: center;
    line-height: 45px;
}
h1{
    padding: 0.5rem;
    color: rgb(19, 17, 17);
}
.textArea{
    min-width:200px ;
    height: 25px;
    text-align: center;
    font-size: 18px;
    margin-left: 60px;
   
}
.textAreaB{
    min-width:200px ;
    height: 25px;
    text-align: center;
    font-size: 18px;
    
}

label{
    padding: 0.5rem;
    color: black;
    font-size: 20px;
}
.button{
    margin-top: 15px;
    margin-left: 5rem ;
}
.btn{
    background: 0;
    border: 1.5px solid black;
    border-radius: 1rem ;
    width: 100px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
}
.output{
    display: block;
    justify-content: center;
    text-align: center;
    line-height: 45px;
    color: #060706;
  
}

@media screen and (max-width: 992px) {
   body{
       margin: 0;
       padding: 0;
   }
    .container{
        margin: 1rem;
        width: fit-content;
        min-height: 600px;
        border-radius: 0.5rem;
        background-color: #9c9b92;
        opacity: 0.9;
    }
    .sectionA{
        margin-top: 0px;
    }
    .innerB{
        display: block;
        position: relative;
        justify-content: center;
        text-align: center;
        line-height: 35px;
    }
    .textArea{
       
        height: 20px;
        text-align: center;
        font-size: 16px;
        margin-left: 0px;
       
    }
    .textAreaB{
       
        height: 20px;
        text-align: center;
        font-size: 16px;
        
    }
    .btn{
        background: 0;
        border: 1.5px solid black;
        border-radius: 1rem ;
        width: 100px;
        height: 30px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 25px;
        margin-left:10px ;
    }
    .output{
        display: block;
        justify-content: center;
        text-align: center;
        padding: 0rem 0.5rem;
        color: #060706;
      
    }
  }